<h3>Projects</h3>

<p>This is the list of all projects.</p>

{{#each project in controller}}
<article>
    <div class="row">
        <div>
                {{#link-to 'projects.view' project.slug}}
                <h2>{{project.title}}</h2>
                <img {{ bind-attr src="project.featuredImgUrl"}}>
                {{/link-to}}
        </div>
    </div>
</article>
{{/each}}
