<h3>Viewing project detail</h3>

<article>
    <div class="row">
        <div>
                <h2>{{title}}</h2>
                <img {{ bind-attr src="featuredImgUrl"}}>
                <br />
                {{{description}}}
        </div>
    </div>
</article>

