<div class="navigation">
    <div class="container">
        <ul>
            <li>{{#link-to 'about'}} About {{/link-to}}</li>
            <li>{{#link-to 'approach'}} Approach {{/link-to}}</li>
            <li>{{#link-to 'projects'}} Projects {{/link-to}}</li>
            <li>{{#link-to 'contact'}} Contact {{/link-to}}</li>
            </ul> 
    </div>
</div>




